.home{
    display: grid;
    gap: 10px;
}

.destaque{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px
}

.servico{
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    border: solid 1px rgb(128, 128, 128);
}

.welcome{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:space-around;
}

.welcome div{
    display: grid;
    padding: 30px 0px;
    align-items: initial;
    width: 400px;
}

.welcome img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-color: rgb(209, 209, 209);
}

.welcome div p{
    margin-top: 20px;
}